[Desktop Entry]
Version=1.0
Name=ITS
Comment=ITS
Exec=opencpn
Icon=opencpn
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;Geography;
Keywords=GPS;Navigation;Chart;
